.menu-content{
    background-color:@bg-grey;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
a{
    color: black;
    margin-left: 30px;
    text-decoration: none;
}

}

